<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>View Campus | Skedjel</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!--JQuery-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!--Bootstrap-->
    <link
      rel="stylesheet"
      href="../../../../common/styles/css/bootstrap-map.css"
    />
    <script src="../../../../common/styles/js/bootstrap.js"></script>

    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="./styles/viewCampuses.css" />

    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--Common-->
    <script src="../../../../observer/observable.js"></script>
    <script src="../../../../helpers/strings.js"></script>
    <script src="../../../../helpers/helpers.js"></script>
    <script src="../../../../services/enpoints.js"></script>
    <script src="../../../../services/requestTypes.js"></script>
    <script src="../../../../services/network.js"></script>
    <script src="../../../../iterator/iterator.js"></script>

    <!--Loader-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../../common/loader/loader.css"
    />

    <!--Template-->
    <script src="../../../../services/template.js"></script>

    <!--Service-->
    <script src="../../../../services/campus/campusService.js"></script>

    <!--JavaScript-->
    <script src="../model/viewCampusesModel.js"></script>
    <script src="../viewModel/viewCampusesViewModel.js"></script>
  </head>

  <body onload="viewCampusesViewModel.onLoad()">
    <div id="loader"></div>
    <div id="pageContent">
      <div class="panel-body loginPage-body">
        <div id="dataArray" class="tab-content"></div>
      </div>
    </div>
  </body>
</html>
