* {
  font-family: "Raleway", sans-serif !important;
  background: #f0f2f8 0% 0% no-repeat padding-box !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: white;
}

input, input[type="button"], select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #333;
  background-color: #f0f2f8 !important;
  text-decoration: none;
}

a:focus {
  outline: thin dotted #333;
  background-color: #f0f2f8 !important;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

input[type="button"] {
  background-color: #140b77 !important;
  border-radius: 10px !important;
  padding: 10px !important;
  color: #ffffff !important;
}

input[type="button"]:hover {
  background: #219ebc !important;
}