<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Associate | Skedjel</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <!--JQuery-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!--Bootstrap-->
    <link
      rel="stylesheet"
      href="../../../../common/styles/css/bootstrapmin.css"
    />
    <script src="../../../../common/styles/js/bootstrap.js"></script>

    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="./styles/associateMain.css" />

    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="col-sm-6">
      <div class="overview-widget" style="margin-top: 30px">
        <h3 class="heading">ASSOCIATE COURSE WITH TEACHER</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">
                tap button to associate a course with a teacher
              </div>
              <a
                href="../../associateCourseTeacher/view/associateCourseTeacher.html"
                type="button"
                class="btn btn-primary"
                >Go to Associate Course With Teacher</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="overview-widget" style="margin-top: 30px">
        <h3 class="heading">ASSOCIATE CLASS WITH COURSE</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">
                tap button to associate a class with a course
              </div>
              <a
                href="../../associateClassCourse/view/associateClassCourse.html"
                type="button"
                class="btn btn-primary"
                >Go to Associate Class With Course</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="overview-widget" style="margin-top: 30px">
        <h3 class="heading">ASSOCIATE DATE WITH CLASS</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">
                tap button to associate a date with a class
              </div>
              <a
                href="../../associateDateClass/view/associateDateClass.html"
                type="button"
                class="btn btn-primary"
                >Go to Associate Date With Class</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
