<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home | Skedjel</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!--JQuery-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!--JQuery-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../../../common/styles/css/bootstrapmin.css" />
    <script src="../../../common/styles/js/bootstrap.js"></script>

    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="./styles/home.css" />

    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="col-sm-6">
      <div id="add" class="overview-widget" style="margin-top: 30px">
        <h3 class="heading">ADD</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">
                tap button to add data to your calendar
              </div>
              <a
                href="../../addModule/addMain/view/addMain.html"
                type="button"
                class="btn btn-primary"
                >Go to Add</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="view" class="overview-widget" style="margin-top: 30px">
        <h3 class="heading">VIEW</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">
                tap button to view data in your calendar
              </div>
              <a
                href="../../viewModule/viewMain/view/viewMain.html"
                type="button"
                class="btn btn-primary"
                >Go to View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="associate" class="overview-widget">
        <h3 class="heading">ASSOCIATE</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">
                tap button to associate data in your calendar
              </div>
              <a
                href="../../associateModule/associateMain/view/associateMain.html"
                type="button"
                class="btn btn-primary"
                >Go to Associate</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="edit" class="overview-widget">
        <h3 class="heading">EDIT</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">
                tap button to edit data in your calendar
              </div>
              <a href="#calendar" type="button" class="btn btn-primary"
                >Go to Edit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
