<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add | Skedjel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../../../../common/styles/css/bootstrapmin.css" />
    <script src="../../../../common/styles/js/bootstrap.js"></script>

    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="./styles/addMain.css" />

    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="col-sm-6">
        <div class="overview-widget" style="margin-top: 30px">
            <h3 class="heading">ADD CAMPUS</h3>
            <div class="activity-widget">
                <div class="snippet-none-box">
                    <div class="col-xs-12">
                        <i class="icon-notification" style="font-size: 60px"></i>
                        <div class="snippet-none-desc">tap button to add campus</div>
                        <a href="../../addCampus/view/addCampus.html" type="button" class="btn btn-primary">Go to Add Campus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="overview-widget" style="margin-top: 30px">
            <h3 class="heading">ADD ROOMS</h3>
            <div class="activity-widget">
                <div class="snippet-none-box">
                    <div class="col-xs-12">
                        <i class="icon-notification" style="font-size: 60px"></i>
                        <div class="snippet-none-desc">tap button to add rooms</div>
                        <a href="../../addRooms/view/addRoom.html" type="button" class="btn btn-primary">Go to Add Rooms</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="overview-widget" style="margin-top: 30px">
        <h3 class="heading">ADD COURSES</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">tap button to add courses</div>
              <a href="../../addCourses/view/addCourses.html" type="button" class="btn btn-primary"
                >Go to Add Courses</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div style="margin-top: 30px">
        </div>
    </div>
    <div class="col-sm-6">
      <div class="overview-widget">
        <h3 class="heading">ADD TEACHERS</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">tap button to add courses</div>
              <a href="../../addTeachers/view/addTeachers.html" type="button" class="btn btn-primary"
                >Go to Add Teachers</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="overview-widget">
        <h3 class="heading">ADD CLASSES</h3>
        <div class="activity-widget">
          <div class="snippet-none-box">
            <div class="col-xs-12">
              <i class="icon-notification" style="font-size: 60px"></i>
              <div class="snippet-none-desc">tap button to add classes</div>
              <a href="../../addClasses/view/addClasses.html" type="button" class="btn btn-primary"
                >Go to Add Classes</a
              >
            </div>
          </div>
      </div>
    </div>
  </body>
</html>